@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.roboto-100 {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.roboto-400 {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 400;
}
@layer base {
  :root {
    --background: 240 20% 98%; /* Light slate gray */
    --background-secondary: 240 15% 90%; /* Lighter gray */
    --foreground: 0 0% 10%; /* Almost black for contrast */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 0 0% 10%; /* Dark text */
    --primary-foreground: 197 69% 38%; /* Light cyan accent */
    --secondary: 0 0% 15%; /* Dark gray for secondary elements */
    --secondary-foreground: 22 98% 49%; /* Light text */
    --muted: 0 0% 80%; /* Soft gray */
    --muted-foreground: 0 0% 40%;
    --accent: 22 98% 49%; /* Orange */
    --accent-foreground: 0 0% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 70%; /* Subtle borders */
    --input: 0 0% 60%;
    --ring: 197 69% 38%; /* Light cyan */
    --radius: 0.5rem;
    --shadow-color: 0 0% 65%;
  }

  .dark {
    --background: 240 5% 16%; /* Slate gray */
    --background-secondary: 240 5% 12%; /* Darker slate gray */
    --foreground: 0 0% 90%; /* Light gray */
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 90%; /* Light text */
    --primary-foreground: 350 100% 86%; /* Soft pink */
    --secondary: 0 0% 20%; /* Dark gray */
    --secondary-foreground: 197 69% 38%; /* Light cyan */
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 60%;
    --accent: 22 98% 49%; /* Orange */
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 40%;
    --input: 0 0% 30%;
    --ring: 197 69% 38%;
    --shadow-color: 0 0% 2%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
